* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    color: white;
    font-family: 'Inter',
        sans-serif;
    font-family: 'Lobster',
        cursive;
    font-family: 'Saira Stencil One',
        cursive;
    padding-left: 40px;
}

/* NAVIGATION */


nav{
    position: fixed;
    width: 100%;
    height: 10%;
    margin: auto;
    font-family: saira Stencil one;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu{
    width: 100%;
    margin: auto;
    padding-bottom: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
    background: rgb(255, 255, 255);
    color: black;
}

nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.icons{
    font-size: 1.5em;
    margin-left: 2em;
}

.icons i {
    margin-left: 0.5em;
}

.fa-facebook:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.fa-twitter:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.fa-youtube:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.fa-snapchat:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.fa-users:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.logo img{
    margin: 6px;
    cursor: pointer;
    width: 40%;
    
}

/* NAVIGATION */

p {
    text-align: center;
    color: #ffffff;
    padding-bottom: 10px;
}














.sectie1 {
    background-image: url(/assets/photos/ticket.gif);
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 600px;
}

.button {
    text-decoration: none;
    border: 3px solid rgb(255, 255, 255);
    color: transparent;
    padding: 40px 80px;
    font-size: 28px;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 0.5s;
    position: relative;
}

.button:before {
    content: "Druk";
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(218, 168, 41);
    font-size: 28px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
}

.button:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
}

.button:after {
    content: "Koop";
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background: rgb(34, 34, 34);
    font-size: 28px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
}

.button:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
}












footer {
    background-color: #7a1399;
    background-image: url(/assets/css/streetart2.jpg);
    background-size: cover;
}

h2 {
    color: white;
    font-family: 'Inter',
        sans-serif;
    font-family: 'Lobster',
        cursive;
    font-family: 'Saira Stencil One',
        cursive;
    padding-top: 100px;

}

.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 50%;
}

.sponsor2 {
    width: 40%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000f1;
}

.tekstsponsor {
    color: white;
    font-size: 30px;
    padding: 100px;
    text-align: center;
}

.flex1 {
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    padding-top: 100px;

}

.flex1 a {
    color: #d4d4d4;
    text-decoration: none;
}

.flex2 {
    width: 30%;
    height: 30px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

hr {
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(204, 194, 194, 0), rgba(230, 230, 230, 0.75), rgba(233, 222, 222, 0));
}

img {
    padding-bottom: 50px;
}

h2 {
    font-size: 60px;
    text-align: center;
}